---
import Base from "@/layouts/Base.astro";
import { AnimatedSpriteSheet, ScrollProperty } from 'astro-headless-ui';
---

<Base>
    <h1>AnimatedSpriteSheet</h1>
    <p>Easily animate a spritesheet</p>
    <h2>horizontal</h2>
    <section>
        <AnimatedSpriteSheet
            url="/xmastree.png"
            name="xmas"
            height={142}
            width={1515}
            cols={15}
        />
        <AnimatedSpriteSheet
            url="/coin.png"
            name="coin"
            height={129}
            width={561}
            cols={4}
        />
    </section>
    <h2>Vertical</h2>
    <h2>Grid</h2>
    <section>
        <AnimatedSpriteSheet
            url="/cat.png"
            name="cat"
            height={1932}
            width={1098}
            cols={2}
            rows={4}
            speed={300}
        />
        <AnimatedSpriteSheet
            url="/monster.png"
            name="monster"
            height={355}
            width={710}
            cols={6}
            rows={3}
        />
        <AnimatedSpriteSheet
            url="/guy.png"
            name="guy"
            height={448}
            width={480}
            cols={6}
            rows={4}
            speed={500}
        />
        <AnimatedSpriteSheet
            url="/boom.png"
            name="boom"
            height={605}
            width={1207}
            cols={8}
            rows={4}
        />
        <AnimatedSpriteSheet
            url="/test-grid.png"
            name="test-grid"
            height={128}
            width={128}
            cols={4}
            rows={4}
        />
        <AnimatedSpriteSheet
            url="/test-grid-tall.png"
            name="test-grid-tall"
            height={256}
            width={64}
            cols={2}
            rows={8}
        />
        <AnimatedSpriteSheet
            url="/test-grid-long.png"
            name="test-grid-long"
            height={64}
            width={256}
            cols={8}
            rows={2}
        />
    </section>
    <ScrollProperty />
</Base>

<style is:global>
    section {
        display: flex;
        gap: 1rem;
    }
</style>