---
import Base from "@/layouts/Base.astro";
import { TableOfContents } from 'astro-headless-ui';

const headings = [
    {
        depth: 1,
        slug: 'intro',
        text: 'Introduction',
        class: "Test"
    },
    {
        depth: 2,
        slug: 'h2-heading',
        text: 'H2 Heading'
    },
    {
        depth: 2,
        slug: 'h2-heading-2',
        text: 'H2 Heading'
    },
    {
        depth: 3,
        slug: 'h3-heading',
        text: 'H3 Heading'
    },
    {
        depth: 3,
        slug: 'h3-heading-2',
        text: 'H3 Heading'
    },
    {
        depth: 2,
        slug: 'h2-heading',
        text: 'H2 Heading'
    },
    {
        depth: 2,
        slug: 'h2-heading-2',
        text: 'H2 Heading'
    },
    {
        depth: 1,
        slug: '',
        text: ''
    },
    {
        depth: 2,
        slug: 'h2-heading',
        text: 'H2 Heading'
    },
    {
        depth: 2,
        slug: 'h2-heading-2',
        text: 'H2 Heading'
    }
]
---

<Base>
    <h1>Table of Contents</h1>
    <TableOfContents headings={headings} />
</Base>