---
import Base from "@/layouts/Base.astro";
import { Wrap } from "astro-headless-ui";
---

<Base>
    <h1>Wrap</h1>
    <Wrap wrap={true} as="div" id="id" class="test">
      <a href="#">Link</a>
    </Wrap>
    <Wrap wrap={false} as="div">
      <a href="#">Slot Test</a>
    </Wrap>
</Base>