---
import { A } from "astro-headless-ui";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>astro-headless-ui</title>
	</head>
	<body>
		<h1>astro-headless-ui</h1>
		<p>A headless component library for Astro</p>
		<ul>
			<li><a href="/pagination">Pagination</a></li>
			<li><a href="/breadcrumb">Breadcrumb</a></li>
			<li><a href="/A">Links</a></li>
			<li><a href="/map">Map</a></li>
		</ul>
	</body>
</html>
