---
import Base from "@/layouts/Base.astro";
---

<Base>
	<h1>astro-headless-ui</h1>
	<p>A headless component library for Astro</p>
	<h2>SSR / SSG</h2>
	<strong>Components</strong>
	<ul>
		<li><a href="/json-element">JSON Element</a></li>
	</ul>
	<strong>Slot Components</strong>
	<ul>

		<li><a href="/links">Navigation / Links</a></li>
		<li><a href="/rating">Rating</a></li>
	</ul>
	<strong>Slot Function Components</strong>
	<ul>
		<li><a href="/pagination">Paginate / Pagination</a></li>
		<li><a href="/breadcrumb">Breadcrumb</a></li>
		<li><a href="/map">Map</a></li>
	</ul>
	<h2>Client Side Scripts</h2>
	<ul>
		<li>
			<a href="/css-properties">CSS Properties</a>
			<ul>
				<li>WIndow/Element Scroll X/Y position</li>
				<li>Window/Element Mouse X/Y Position</li>
				<li>Window/Element Last Key Press</li>
				<li>Network Information API</li>
				<li>CSS Javascript detector</li>
			</ul>
		</li>
	</ul>
</Base>