---
import Base from "@/layouts/Base.astro";
---

<Base>
	<h1>astro-headless-ui</h1>
	<p>A headless component library for Astro</p>
	<h2>SSR / SSG</h2>
	<h3>Style Components</h3>
	<ul>
		<li><a href="/animated-spritesheet">AnimatedSpriteSheet</a></li>
	</ul>
	<h3>Components</h3>
	<ul>
		<li><a href="/rating">Rating</a></li>
		<li><a href="/links">Navigation / Link</a></li>
		<li><a href="/pagination">Paginate / Pagination</a></li>
		<li><a href="/breadcrumb">Breadcrumb</a></li>
		<li><a href="/map">Map</a></li>
	</ul>
	<h3>Client Components</h3>
	<ul>
		<li><a href="/dark-toggle">DarkThemeToggle / IconSwitch</a></li>
		<li><a href="/theme-toggle">MultiThemeToggle / IconSwitch</a></li>
		<li><a href="/code-copy">CodeCopy</a></li>
	</ul>
	<h3>Client Scripts</h3>
	<ul>
		<li>
			<a href="/css-properties">Dynamic CSS Properties</a>
			<ul>
				<li><strong>ScrollProp</strong>: Window/Element Scroll X/Y position</li>
				<li><strong>MouseProp</strong>: Window/Element Mouse X/Y Position</li>
				<li><strong>KeyboardProp</strong>: Window/Element Last Key Press</li>
				<li><strong>NetworkProp</strong>: Network Information API</li>
				<li><strong>NoScriptProp</strong>: CSS Javascript detector</li>
			</ul>
		</li>
	</ul>
</Base>