---
import Base from "@/layouts/Base.astro";
import { JSONNavigation, Link } from "astro-headless-ui";

const basicLinks = {
    active: { style: 'color:red;' },
    links: [
        {
            text: "Home",
            href: "/"
        },
        {
            text: "Links (Current Page)",
            href: "/links"
        },
        {
            text: "Pagination",
            href: "/pagination"
        }
    ]
}
---

<Base>
    <h1>Navigation / Links</h1>
    <h2>Active test</h2>
    <p>Active link is highlighted in red</p>
    <nav>
        <Link href="/">
            <a href="/">Home</a>
            <a slot="active" href="/" style="color:red;">Home</a>
        </Link>
        <Link href="/links">
            <a href="/links">Current</a>
            <a slot="active" href="/links" style="color:red;">Links (Current page)</a>
        </Link>
        <Link href="/pagination">
            <a href="/pagination">Pagination</a>
            <a slot="active" href="/pagination" style="color:red;"></a>
        </Link>
    </nav>
    <h2>Navigation test</h2>
    <h3>Default Render</h3>
    <nav>
        <JSONNavigation {...basicLinks}/>
    </nav>
    <h3>Custom Render using Slots</h3>
    <ul>
        <JSONNavigation {...basicLinks}>
            {link => <li><a {...link.attrs}>{link.text}</a></li>}
            <active slot="active">{link => <li><a {...link.attrs}>{link.text}</a></li>}</active>
        </JSONNavigation>
    </ul>
</Base>

<style>
    nav {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
</style>

