---
import Base from "@/layouts/Base.astro";
import { NoScriptProperty } from "astro-headless-ui";
---

<Base>
    <NoScriptProperty selector="#one" name="noscript-1" default="green"/>
    <NoScriptProperty selector="#two" name="noscript-2" default="blue"/>
    
    <section id="one">
        <p style="color: var(--noscript-1, yellow);">
        This text is green if javascript is enabled, yellow if javascript is disabled
        </p>
    </section>
    
    <section id="two">
        <p style="color: var(--noscript-2, red);">
        This text is blue if javascript is enabled, red if javascript is disabled
        </p>
    </section>
</Base>