---
import { Breadcrumb } from 'astro-headless-ui';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<nav>
			<Breadcrumb />
		</nav>
		<slot />
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

    body {
		min-height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }

	body > nav {
		display: flex;
		gap: 0.25rem;
	}
</style>