---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'button'> {}
    
const { 
    ...attrs
} = Astro.props as Props

const _attrs: Props = {
    onclick: 'toggleTheme()',
    'aria-label': 'toggle dark theme',
    ...attrs
}
---
<script is:inline>
    sessionStorage.getItem('dark') === 'true' && document.body.classList.add('dark');
    function toggleTheme(toggle=!document.body.classList.contains('dark')) { toggle
        ? (document.body.classList.add('dark'), sessionStorage.setItem('dark', 'true'))
        : (document.body.classList.remove('dark'), sessionStorage.setItem('dark', 'false')) }
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => toggleTheme(e.matches))
</script>

<button {..._attrs}>
    <slot />
</button>